* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#header {
    background-image: url(/img/pattern.png);
    background-size: contain;
    background-color: rgb(78 160 255);
    height: 100px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-shadow: 3px 3px black;
    position: relative;
}

#main {
    background-color: pink;
}

#footer {
    background-color: blue;
}

#title>h1 {
    position: absolute;
    bottom: 10%;
}

#title>h3 {
    position: absolute;
    bottom: 40%;
    left: 3%;
}

.img {
    width: 50px;
    background-color: black;
    border: 1px solid red;
}

section {
    background-color: yellow;
}